pytorch-lightning>=2.0.2
lightning>=2.0.2
matplotlib>=3.5.1
numpy>=1.22.3
opencv_python>=4.7.0.72
opencv_python_headless>=4.7.0.72
--extra-index-url https://download.pytorch.org/whl/cu116
torch==1.13.1+cu116
torchmetrics>=0.11.4
torchvision>=0.14.1+cu116
